@import url('https://fonts.googleapis.com/css?family=Poppins');
body, html{
  margin: 0;
  background: #0b6b83;
  font-family: 'Poppins', sans-serif;
}
h1{
  text-align: center;
  color:rgb(13, 40, 71);
  font-family: 'Courier New', Courier, monospace;
}
h2{
  text-align: center;
  color:rgb(88, 16, 16);
  font-family: fantasy;
}
.container-all{
  width: fit-content;
  margin: 20px auto;
  height: auto;
}
.container{
  width: calc(33% - 6px);
  overflow:hidden;
  height: fit-content;
  margin:3px;
  padding: 0;
  display:block;
  position:relative;
  float:left;
}
img{
  width: 100%;
  transition-duration: .3s;
  max-width: 100%;
  display:block;
  overflow:hidden;
  cursor:pointer;
  width: 17cm;
  height: 22cm;
  
}
.title{
  position:absolute;
  display:block;
  cursor:pointer;
  top: 35%;
  display: none;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 1.6em;
  text-shadow: 1px 5px 10px black;
  transition-duration: .3s;
}
.text{
  position:absolute;
  top: 70%;
  cursor:pointer;
  max-width: 80%;
  text-align:center;
  left: 50%;
  text-shadow: 1px 5px 10px rgb(255, 250, 250);
  font-size: xx-large;
  display:none;
  margin-right: -50%;
  transition-duration: .3s;
  transform: translate(-50%, -50%) 
}
.container:hover img{
  transform: scale(1.2);
  transition-duration: .3s;
  filter: grayscale(50%);
  opacity: .7;
}
.container:hover span{
  color:rgb(107, 4, 4);
  display: block;
  transition-duration: .3s;
}
@media only screen and (max-width: 900px) {
    .container {
        width: calc(50% - 6px);
    }
}
@media only screen and (max-width: 400px) {
    .container {
        width: 100%;
    }
}

#navbar {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
}

#navbar ul {
  padding: 0;
  margin: 0;
  position: relative;
  list-style-type: none;
  background-color: #2b2927;
  overflow: auto;
  height: 7vh;
}

#navbar li{
  float: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  background-color: #2b2927;
}
#navbar li:hover{
  background-color: rgb(80, 17, 8);}
  
#navbar a {
  text-decoration: none;
  padding: 10px;
  margin: 2.5px;
  text-decoration: none;
  color: white;
  font-family: 'Poiret One', cursive;
  font-size: 150%;
  letter-spacing: 1px;
}