body{
    padding: 0;
    margin: 0;
    top: 0;
    background-color: #2d3f42;
  }
  
  #header {
    padding: 0;
    margin: 0;
    height: 80vh;
    background-image: url(https://cdn2.coppel.com/images/emarketing/landings/2022/octubre/tendencias-hombres/Mobile/Bloques-3/1_bloques3_m_solMedianoche.jpg);
    background-size: cover;
    background-position: center;
  }
  
  #header h1 {
    margin: 0;
    position: relative;
    top: 7vh;
    text-align: center;
    font-family: 'Poiret One', cursive;
    font-size: 25vh;
    text-shadow: 1px 1px rgb(34, 61, 97);
    color: rgb(128, 35, 35);
  }
  
  #header h2 {
    margin: 0;
    position: relative;
    top: 8vh;
    text-align: center;
    font-family: fantasy;
    font-size: 10vh;
    text-shadow: 1px 1px darkgray;
    color: rgb(153, 43, 43);
  }
  
  #navbar {
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  
  #navbar ul {
    padding: 0;
    margin: 0;
    position: relative;
    list-style-type: none;
    background-color: #242d50;
    overflow: auto;
    height: 7vh;
  }
  
  #navbar li{
    float: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    background-color: #242d50;
  }
  #navbar li:hover{
    background-color: rgb(119, 35, 35);}
    
  #navbar a {
    text-decoration: none;
    padding: 10px;
    margin: 2.5px;
    text-decoration: none;
    color: white;
    font-family: 'Poiret One', cursive;
    font-size: 150%;
    letter-spacing: 1px;
  }
  
  
  #intro {
    text-align: center;
    padding: 2vw;
    margin: 0;
    border-bottom: 6px dotted #10018f;
  }
  
  #intro h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 250%;
    color: #1DA1F2;
  }
  #intro h4 {
    font-family: cursive;
    font-size: 150%;
    color: #dee1e4;
  }
  #intro p {
    font-family: 'Arvo', sans-serif;
    color: #1DA1F2;
  }
  
  
  #shirts {
    text-align: center;
    padding: 1vw;
    margin-top: 3vh;
    border-bottom: 6px dotted #10018f;
    
  }
  
  #shirts h3 {
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 200%;
    color: #22b2d3;
  }
  
  #shirts p {
    font-family: 'Arvo', sans-serif;
    font-size: 100%;
    color: white;
  }
  
  
  #shirt1 {
    background-color: #155f9c;
    margin-left: 12vw;
    margin-right: 12vw;
    margin-bottom: 6vh;
    padding: 2vw;
    border-left: 6px dotted #e60505;
    border-right: 6px dotted #e60505;
    color: white;
  }
  
  #shirt1 img {
    width: 350px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  #shirt1 h2 {
    text-align: center;
    font-family: 'Poiret One', cursive;
    color: white;
  }
  
  #shirt1 a {
    color: rgb(255, 250, 250);
    text-decoration: none;
  }
  
  #shirt1 p {
    text-align: center;
    font-family: 'Arvo', sans-serif;
    font-size: 115%;
    color: white;
  }
  
  
  #shirt2 {
    background-color: #13554f;
    margin-left: 12vw;
    margin-right: 12vw;
    margin-bottom: 6vh;
    padding: 2vw;
    border-left: 6px dotted #e60505;
    border-right: 6px dotted #e60505;
    color: white;
  }
  
  #shirt2 img {
    width: 350px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  #shirt2 h2 {
    text-align: center;
    font-family: 'Poiret One', cursive;
  }
  
  #shirt2 a {
    color: rgb(250, 244, 244);
    text-decoration: none;
  }
  
  #shirt2 p {
    text-align: center;
    font-family: 'Arvo', sans-serif;
    font-size: 115%;
  }
  
  
  #shirt3 {
    background-color: #1a5c38;
    margin-left: 12vw;
    margin-right: 12vw;
    margin-bottom: 6vh;
    padding: 2vw;
    border-left: 6px dotted #e60505;
    border-right: 6px dotted #e60505;
    color: white;
  }
  
  #shirt3 img {
    width: 350px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  #shirt3 h2 {
    text-align: center;
    font-family: 'Poiret One', cursive;
    color: white;
  }
  
  #shirt3 a {
    color: rgb(243, 235, 235);
    text-decoration: none;
  }
  
  #shirt3 p {
    text-align: center;
    font-family: 'Arvo', sans-serif;
    font-size: 115%;
  }
  
  
  #shirt4 {
    background-color: #aaf334;
    margin-left: 12vw;
    margin-right: 12vw;
    margin-bottom: 6vh;
    padding: 2vw;
    border-left: 6px dotted #e60505;
    border-right: 6px dotted #e60505;
  }
  
  #shirt4 img {
    width: 350px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  #shirt4 h2 {
    text-align: center;
    font-family: 'Poiret One', cursive;
    color: white;
  }
  
  #shirt4 a {
    color: rgb(250, 248, 248);
    text-decoration: none;
  }
  
  #shirt4 p {
    text-align: center;
    font-family: 'Arvo', sans-serif;
    font-size: 115%;
    color: white;
  }
  
  
  #pants {
    text-align: center;
    padding: 1vw;
    margin-top: 12vh;
    border-top: 5px dotted #c7a5f3;
    color: #1DA1F2;
  }
  
  #pants h3 {
    padding: 0;
    margin-top: 3vh;
    font-family: 'Poiret One', cursive;
    font-size: 200%
    
  }
  
  #pants p {
    font-family: 'Arvo', sans-serif;
    font-size: 100%;
    color: rgb(228, 233, 235);
  }
  
  #pants1 {
    background-color: #553b0b;
    margin-left: 12vw;
    margin-right: 12vw;
    margin-bottom: 6vh;
    padding: 2vw;
    border-left: 6px dotted #e60505;
    border-right: 6px dotted #e60505;
  }
  
  #pants1 img {
    width: 300px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  #pants1 h2 {
    text-align: center;
    font-family: 'Poiret One', cursive;
    color: white;
  }
  
  #pants1 a {
    color: rgb(247, 239, 239);
    text-decoration: none;
  }
  
  #pants1 p {
    text-align: center;
    font-family: 'Arvo', sans-serif;
    font-size: 115%;
    color: white;
  }
  
  #pants2 {
    background-color: #cf842e;
    margin-left: 12vw;
    margin-right: 12vw;
    margin-bottom: 6vh;
    padding: 2vw;
    border-left: 6px dotted #e60505;
    border-right: 6px dotted #e60505;
  }
  
  #pants2 img {
    width: 300px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  #pants2 h2 {
    text-align: center;
    font-family: 'Poiret One', cursive;
  }
  
  #pants2 a {
    color: rgb(243, 235, 235);
    text-decoration: none;
  }
  
  #pants2 p {
    text-align: center;
    font-family: 'Arvo', sans-serif;
    font-size: 115%;
    color: white;
  }
  
 
  
  
  #footer {
    position: relative;
    background-color: #2b84d8;
    padding: 0;
    margin: 0;
    
  }
  
  #footer p {
    text-align: center;
    font-size: 90%;
    color: #22b2d3;
    margin: 0;
    padding: 10px;
  }
  *, *:after, *:before {
    box-sizing: border-box;
  }
  
  .tags {
      flex-wrap: wrap;
      -webkit-box-pack: center;
      justify-content: center;
      display: -webkit-box;
      display: flex;
  }
  
  /* Shared */
  .tag-container {
      width: 200px;
      height: 300px;
      margin: 20px;
      position: relative;
      -webkit-perspective: 800px;
      perspective: 800px;
  }
  
  .tag {
      width: 100%;
      height: 100%;
      position: absolute;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
      -webkit-transition: -webkit-transform 1s;
      transition: -webkit-transform 1s;
      transition: transform 1s;
      transition: transform 1s, -webkit-transform 1s;
  }
  
  .tag-container:hover .tag {
      -webkit-transform: rotateY(180deg);
      transform: rotateY(180deg);
  }
  
  .tag-side {
      width: 100%;
      height: 100%;
      position: absolute;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
  }
  
  .tag-side.is-back {
      -webkit-transform: rotateY(180deg);
      transform: rotateY(180deg);
      z-index: 2;
  }
  
  .tag-text {
      width: 100%;
      padding: 0 20px;
      color: rgb(19, 18, 18);
      font: 28px 'Sacramento', cursive;
      text-align: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  }
  
  /* Tag 1 */
  .tag-1-side:before {
      content: " ";
      background: #fff;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      position: absolute;
      top: 30px;
      left: 50%;
      z-index: 1;
      -webkit-transform: translate3d(-50%, 0, 0);
      transform: translate3d(-50%, 0, 0);
  }
  
  .tag-1-top {
      width: 100%;
      margin-top: -35px;
      position: absolute;
      top: 0;
      -webkit-transform: scale(0.775, 0.5) translate3d(0, 0, 0);
      transform: scale(0.775, 0.5) translate3d(0, 0, 0);
  }
  
  .tag-1-top:before {
      content: " ";
      background: #ede5d8;
      padding-bottom: 200px;
      border-bottom-left-radius: 30px;
      border-top-left-radius: 10px;
      border-top-right-radius: 30px;
      display: block;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
  }
  
  .tag-1-side.is-back .tag-1-top:before {
      background: #e44f47;
  }
  
  .tag-1-text {
      background: #ede5d8;
      margin-top: 65px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      padding-top: 30px;
      position: relative;
      z-index: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
  }
  
  .tag-1-side.is-back .tag-1-text {
      background: #e44f47;
      color: #fff;
  }
  
  /* Tag 2 */
  .tag-2-side:before,
  .tag-2-side:after {
      content: " ";
      background: #b6dfde;
      height: 50px;
      position: absolute;
      top: 0;
      left: 50px;
      right: 50px;
      -webkit-transform: skew(-45deg) translate3d(0, 0, 0);
      transform: skew(-45deg) translate3d(0, 0, 0);
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
  }
  
  .tag-2-side.is-back:before,
  .tag-2-side.is-back:after {
      background: #47ada0;
  }
  
  .tag-2-side:after {
      -webkit-transform: skew(45deg);
      transform: skew(45deg);
  }
  
  .tag-2-text:before {
      content: " ";
      background: #fff;
      width: 27px;
      height: 27px;
      border: 6px solid #47ada0;
      border-radius: 50%;
      position: absolute;
      top: 20px;
      left: 50%;
      z-index: 1;
      -webkit-transform: translate3d(-50%, 0, 0);
      transform: translate3d(-50%, 0, 0);
  }
  
  .tag-2-side.is-back .tag-2-text:before {
      border-color: #b6dfde;
  }
  
  .tag-2-text {
      background: #b6dfde;
      margin-top: 50px;
      padding-bottom: 30px;
  }
  
  .tag-2-side.is-back .tag-2-text {
      background: #47ada0;
  }
  
  /* Tag 3 */
  .tag-3-side {
      margin-top: 20px;
      padding-top: 20px;
      display: -webkit-box;
      display: flex;
  }
  
  .tag-3-side:before {
      content: " ";
      background: #e44f47;
      width: 150px;
      height: 100%;
      border-radius: 20px;
      position: absolute;
      top: 0;
      left: 50%;
      -webkit-transform: translate3d(-50%, 0, 0);
      transform: translate3d(-50%, 0, 0);
  }
  
  .tag-3-side.is-back:before {
      background: #b6dfde;
  }
  
  .tag-3-side:after {
      content: " ";
      background: #fff;
      width: 45px;
      height: 45px;
      border: 15px solid #e44f47;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 50%;
      z-index: 1;
      -webkit-transform: translate3d(-50%, -50%, 0);
      transform: translate3d(-50%, -50%, 0);
  }
  
  .tag-3-side.is-back:after {
      border-color: #b6dfde;
  }
  
  .tag-3-text {
      background: #e44f47;
      width: 100%;
      border-radius: 20px;
      padding-top: 60px;
      color: #fff;
      z-index: 1;
  }
  
  .tag-3-side.is-back .tag-3-text {
      background: #b6dfde;
      color: #222;
  }
  
  /* Extras */
  .rule-shape {
      width: 100%;
      color: #fff;
      font-size: 34px;
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      align-self: flex-end;
  }
  
  .rule-shape:before,
  .rule-shape:after {
      content: " ";
      background: #fff;
      height: 1px;
      margin-bottom: 8px;
      display: block;
      -webkit-box-flex: 2;
      flex-grow: 2;
  }
  
  .rule-shape:before {
      margin-right: 6.25px;
  }
  
  .rule-shape:after {
      margin-left: 6.25px;
  }
  
  .rule-red {
      color: #e44f47;
  }
  
  .rule-red:before,
  .rule-red:after {
      background: #e44f47;
  }
  
  .rule-diagonal {
      background: -webkit-repeating-linear-gradient(
          45deg,
          #e44f47,
          #e44f47 7px,
          transparent 7px,
          transparent 14px,
          #fff 14px,
          #fff 21px,
          transparent 21px,
          transparent 28px
      );
      background: repeating-linear-gradient(
          45deg,
          #e44f47,
          #e44f47 7px,
          transparent 7px,
          transparent 14px,
          #fff 14px,
          #fff 21px,
          transparent 21px,
          transparent 28px
      );
      width: 100%;
      height: 30px;
      position: absolute;
      bottom: 0;
      left: 0;
  }
  @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  display: grid;
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  place-items: center;
  background: linear-gradient(315deg, #111b2c, #1e3968);
}

.wrapper {
  display: inline-flex;
  list-style: none;
}

.wrapper .icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(228, 222, 222, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #143055;
  color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1DA1F2;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #56177a;
  color: #fdf4f4;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: #125222;
  color: #06a31b;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background: #CD201F;
  color: #faf9f9;
}