@import url('https://fonts.googleapis.com/css?family=Poppins');
body, html{
  margin: 0;
  background: #13421b;
  font-family: 'Poppins', sans-serif;
}
h1{
  text-align: center;
  color:rgb(59, 189, 27);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}
h2{
  text-align: center;
  color:rgb(6, 97, 139);
  font-family: 'Times New Roman', Times, serif;
}
.container-all{
  width: fit-content;
  margin: 20px auto;
  height: auto;
}
.container{
  width: calc(25% - 6px);
  overflow:hidden;
  height: fit-content;
  margin:3px;
  padding: 0;
  display:block;
  position:relative;
  float:left;
}
img{
  width: 110%;
  transition-duration: .6s;
  max-width: 110%;
  display:block;
  overflow:hidden;
  cursor:pointer;
  width: 550px;
  height: 550px;
  
}
.title{
  position:absolute;
  display:block;
  cursor:pointer;
  top: 35%;
  display: none;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: xx-large;
  text-shadow: 1px 5px 10px rgb(250, 237, 237);
  transition-duration: .5s;
}
.text{
  position:absolute;
  top: 60%;
  cursor:pointer;
  max-width: 80%;
  text-align:center;
  left: 50%;
  text-shadow: 1px 5px 10px black;
  font-size: xx-large;
  display:none;
  margin-right: -50%;
  transition-duration: .5s;
  transform: translate(-50%, -50%) 
}
.container:hover img{
  transform: scale(1.2);
  transition-duration: .5s;
  filter: grayscale(50%);
  opacity: .7;
}
.container:hover span{
  color:rgb(42, 210, 240);
  display: block;
  transition-duration: .3s;
}
@media only screen and (max-width: 900px) {
    .container {
        width: calc(50% - 6px);
    }
}
@media only screen and (max-width: 400px) {
    .container {
        width: 100%;
    }

  
}

#navbar {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
}

#navbar ul {
  padding: 0;
  margin: 0;
  position: relative;
  list-style-type: none;
  background-color: #13421b;
  overflow: auto;
  height: 7vh;
}

#navbar li{
  float: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  background-color: #13421b;
}
#navbar li:hover{
  background-color: rgb(9, 42, 92);}
  
#navbar a {
  text-decoration: none;
  padding: 10px;
  margin: 2.5px;
  text-decoration: none;
  color: white;
  font-family: 'Poiret One', cursive;
  font-size: 150%;
  letter-spacing: 1px;
}
